<?xml version="1.0" encoding="utf-8"?>
<cruise xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="cruise-config.xsd" schemaVersion="88">
  <server artifactsdir="artifacts" agentAutoRegisterKey="eb339d63-2ba5-42ce-bee8-a092af668c81" commandRepositoryLocation="default" serverId="31b87f1d-3551-4ebf-807f-663214e7a4f6" />
  <pipelines group="Lib">
    <pipeline name="AECC" template="RubyProject">
      <materials>
        <git url="https://github.com/thomasf1234/AECC.git" />
      </materials>
    </pipeline>
    <pipeline name="IMDB" template="RubyProject">
      <materials>
        <git url="https://github.com/thomasf1234/IMDB.git" />
      </materials>
    </pipeline>
    <pipeline name="AECCClient" template="RubyProject">
      <materials>
        <git url="https://github.com/thomasf1234/AECCClient.git" />
      </materials>
    </pipeline>
  </pipelines>
  <templates>
    <pipeline name="RubyProject">
      <stage name="build">
        <jobs>
          <job name="build">
            <tasks>
              <exec command="bundle">
                <arg>install</arg>
                <arg>--clean</arg>
                <arg>--path</arg>
                <arg>vendor/bundle</arg>
                <runif status="passed" />
              </exec>
            </tasks>
            <resources>
              <resource>standard</resource>
            </resources>
          </job>
        </jobs>
      </stage>
      <stage name="test">
        <jobs>
          <job name="test">
            <tasks>
              <exec command="bundle">
                <arg>exec</arg>
                <arg>rspec</arg>
                <arg>spec/</arg>
              </exec>
            </tasks>
            <resources>
              <resource>standard</resource>
            </resources>
          </job>
        </jobs>
      </stage>
    </pipeline>
  </templates>
  <agents>
    <agent hostname="abstractx1-VirtualBox" ipaddress="127.0.0.1" uuid="7396ba0e-df7f-41ab-b91b-974caf665307">
      <resources>
        <resource>standard</resource>
      </resources>
    </agent>
  </agents>
</cruise>
